html {
  font-size: 20px;
}

.to-do-list li {
  list-style-type: none;
  line-height: 1.75rem;
  font-size: 1.25rem;
}

.to-do-list input:checked + label {
  text-decoration: line-through;
}

.delete-icon {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: 2px;
  &:hover {
    height: 1.1rem;
    width: 1.1rem;
    top: 3px;
  }
}
